<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="form">
        País: 
        <select v-model="select">
            <option v-for="pais in paises">{{pais}}</option>
        </select>
        <br><br>



        <template v-if="select === 'Argentina'">
            Provincia:
            <select>
                <option v-for="provincia in provinciasArgentinas"> {{provincia}} </option>
            </select>
        </template>
        
        <template v-if="select === 'Uruguay'">
            Provincia:
            <select>
                <option v-for="provincia in provinciasUruguayas"> {{provincia}} </option>
            </select>
        </template>

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>