<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    
    <article class="content">
        
        <div id="app">
            
            <form v-on:submit.prevent="buscar" class="search">
                <input type="text" placeholder="..." v-model="nombre">
                <input type="submit" value="Buscar">
            </form>
            <br>
            
            <div v-if="datos"  class="result">
                ID: {{datos.login}}
                <br>

                Nombre: {{datos.name}}
                <br>

                Perfil:<a :href="datos.html_url">{{datos.html_url}}</a>
                <br><br>

                <img :src="datos.avatar_url" widht="150" height="150">
                <br><br><br>

                <a v-if="esFavorito" href="#" class="result__toggle-favorite" @click="eliminarFavoritos">Eliminar a favoritos</a>
                <a v-else href="#" class="result__toggle-favorite" @click="agregarFavoritos">Agregar a favoritos</a>
            </div>
            <br>
            
            <div v-for="[, favorito] in favoritos">
                <a @click.prevent="mostrarFavorito(favorito)" href="#">
                    <img :src="favorito.avatar_url" widht="50" height="50">
                </a>
            </div>
        </div>  
    </article>

    
    <script src="main.js"></script>
</body>
</html>