<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <div id="evento">
        Nombre: <input type="text" v-model="nuevoNombre">
        <button v-on:click="agregarNombre">Agregar</button> <br><hr>


        Lista de personas:<li v-for="persona in personas">{{persona.nombre}}</li><br><hr>
        

        Ultimos agregados ({{contador}}):
        <li v-for="persona in agregadosRecientes">{{persona}}</li>

        <hr><br>

        
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>